kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: factorio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: factorio
  template:
    metadata:
      labels:
        app: factorio
    spec:
      containers:
      - name: app
        image: docker.io/tei1988/factorio:bobs
        imagePullPolicy: Always
        ports:
          - containerPort: 34197
            protocol: UDP
          - containerPort: 27015
            protocol: TCP
        env:
        - name: TZ
          value: Asia/Tokyo
        volumeMounts:
          - name: factorio-savedata
            mountPath: /factorio/saves
      volumes:
        - name: factorio-savedata
          gcePersistentDisk:
            pdName: pd-factorio
            fsType: ext4
---
kind: Service
apiVersion: v1
metadata:
  labels:
    app: factorio-udp
  name: factorio-udp
spec:
  ports:
    - name: udp
      port: 34197
      protocol: UDP
  selector:
    app: factorio
  type: LoadBalancer
  loadBalancerIP: <IP>
